                <td>{{ form_errors(form.code) }}{{ form_widget(form.code) }}</td>
                <td>{{ form_errors(form.name) }}{{ form_widget(form.name) }}</td>
                <td>{{ form_errors(form.min) }}{{ form_widget(form.min) }}</td>
                <td>{{ form_errors(form.max) }}{{ form_widget(form.max) }}</td>
                <td>{{ form_errors(form.pricing) }}{{ form_widget(form.pricing) }}</td>